# ----------------------------------------------------------------------------
##########################   LEDs   #####################################
#NET LED[0]                 LOC = M18  | IOSTANDARD = LVCMOS25;  # "LED0"
#NET LED[1]                 LOC = L19  | IOSTANDARD = LVCMOS25;  # "LED1"
#NET LED[2]                 LOC = M21  | IOSTANDARD = LVCMOS25;  # "LED2"
#NET LED[3]                 LOC = F22  | IOSTANDARD = LVCMOS25;  # "LED3"
#NET LED[4]                 LOC = H22  | IOSTANDARD = LVCMOS25;  # "LED4"
#NET LED[5]                 LOC = C25  | IOSTANDARD = LVCMOS25;  # "LED5"
#NET LED[6]                 LOC = C26  | IOSTANDARD = LVCMOS25;  # "LED6"
#NET LED[7]                 LOC = F23  | IOSTANDARD = LVCMOS25;  # "LED7"
##########################   Switches/Push Buttons   ########################
NET RESET		       LOC = M19  | IOSTANDARD = LVCMOS25;  # "SWITCH_PB1"
#NET PUSHBUTTON[0]          LOC = L20  | IOSTANDARD = LVCMOS25;  # "SWITCH_PB2"
#NET PUSHBUTTON[1]          LOC = L21  | IOSTANDARD = LVCMOS25;  # "SWITCH_PB3"
#NET PUSHBUTTON[2]          LOC = H20  | IOSTANDARD = LVCMOS25;  # "SWITCH_PB4"
#NET SWITCH[0]              LOC = K21  | IOSTANDARD = LVCMOS25;  # "SWITCH0"
#NET SWITCH[1]              LOC = G23  | IOSTANDARD = LVCMOS25;  # "SWITCH1"
#NET SWITCH[2]              LOC = G24  | IOSTANDARD = LVCMOS25;  # "SWITCH2"
#NET SWITCH[3]              LOC = J20  | IOSTANDARD = LVCMOS25;  # "SWITCH3"
#NET SWITCH[4]              LOC = J22  | IOSTANDARD = LVCMOS25;  # "SWITCH4"
#NET SWITCH[5]              LOC = E24  | IOSTANDARD = LVCMOS25;  # "SWITCH5"
#NET SWITCH[6]              LOC = E23  | IOSTANDARD = LVCMOS25;  # "SWITCH6"
#NET SWITCH[7]              LOC = K22  | IOSTANDARD = LVCMOS25;  # "SWITCH7"

###########################   Clocks   #####################################
#
#NET CLK_100MHZ           LOC = U23  | IOSTANDARD = LVCMOS25;  # "CLK_100MHZ"
NET CLK_10MHz           LOC = R25  | IOSTANDARD = LVCMOS25;  # "CLK_SOCKET"
##########################   FMC1   #####################################
NET DCLK_N         LOC = A14;  # "FMC1-LA17-CC_N"  Bank#0 TR
NET DCLK_P         LOC = B14;  # "FMC1-LA17-CC_P"  Bank#0 TR
NET FCLK_N         LOC = A12;  # "FMC1-LA00-CC_N"  Bank#0 TR
NET FCLK_P         LOC = B12;  # "FMC1-LA00-CC_P"  Bank#0 TR
NET DA0_N          LOC = B21;  # "FMC1-LA21_N"  Bank#0 TR
NET DA0_P          LOC = C21;  # "FMC1-LA21_P"  Bank#0 TR
NET DA1_N          LOC = E16;  # "FMC1-LA24_N"  Bank#0 TR
NET DA1_P          LOC = F16;  # "FMC1-LA24_P"  Bank#0 TR
NET DB0_N          LOC = E20;  # "FMC1-LA20_N"  Bank#0 TR
NET DB0_P          LOC = F20;  # "FMC1-LA20_P"  Bank#0 TR
NET DB1_N          LOC = J17;  # "FMC1-LA22_N"  Bank#0 TR
NET DB1_P          LOC = J16;  # "FMC1-LA22_P"  Bank#0 TR  
NET DC0_N          LOC = A22;  # "FMC1-LA15_N"  Bank#0 TR
NET DC0_P          LOC = B22;  # "FMC1-LA15_P"  Bank#0 TR
NET DC1_N          LOC = E18;  # "FMC1-LA19_N"  Bank#0 TR
NET DC1_P          LOC = F18;  # "FMC1-LA19_P"  Bank#0 TR
NET DD0_N          LOC = F19;  # "FMC1-LA11_N"   Bank#0 TR
NET DD0_P          LOC = G19;  # "FMC1-LA11_P"   Bank#0 TR
NET DD1_N          LOC = H14;  # "FMC1-LA16_N"   Bank#0 TR
NET DD1_P          LOC = K14;  # "FMC1-LA16_P"   Bank#0 TR
NET SCLK           LOC = H17  |IOSTANDARD = LVCMOS25;  # "FMC1-LA13_N"  Bank#0 TR
NET SDATA          LOC = G17  |IOSTANDARD = LVCMOS25;  # "FMC1-LA13_P"  Bank#0 TR
NET ADC_RESET		     LOC = E14  |IOSTANDARD = LVCMOS25;
NET ADC_SEN		     LOC = F14  |IOSTANDARD = LVCMOS25;
#NET CLCKOUT_N		     LOC = D13;  # "FMC1-LA00-CC_N"  Bank#0 TR
#NET CLCKOUT_P		     LOC = E13;  # "FMC1-LA00-CC_P"  Bank#0 TR
NET SMA_IN[0]             LOC = W16  |IOSTANDARD = LVCMOS25;  # "FMC2-LA12_P"
NET SMA_IN[1]             LOC = Y16  |IOSTANDARD = LVCMOS25;  # "FMC2-LA10_N"
NET SMA_OUT               LOC = AB13 |IOSTANDARD = LVCMOS25;  # "FMC2-LA02_P"
NET OPTICAL_OUT           LOC = AA13 |IOSTANDARD = LVCMOS25;  # "FMC2-LA02_N"
NET OPTICAL_IN            LOC = V15  |IOSTANDARD = LVCMOS25;  # "FMC2-LA06_N"
NET AFE_PICKUP         LOC = AA18 |IOSTANDARD = LVCMOS25;  # "FMC2-LA04_P"
NET AFE_CAL            LOC = AA19 |IOSTANDARD = LVCMOS25;  # "FMC2-LA07_P"
//NET AFE_REC            LOC = AB17 |IOSTANDARD = LVCMOS25;  # "FMC2-LA04_N"
//NET AFE_PICKUP[1]         LOC = AB19 |IOSTANDARD = LVCMOS25;  # "FMC2-LA07_N"
//NET AFE_CAL[1]            LOC = V13  |IOSTANDARD = LVCMOS25;  # "FMC2-LA11_N"
//NET AFE_REC[1]            LOC = U13  |IOSTANDARD = LVCMOS25;  # "FMC2-LA11_P"
//NET AFE_PICKUP[2]         LOC = U15  |IOSTANDARD = LVCMOS25;  # "FMC2-LA15_P"
//NET AFE_CAL[2]            LOC = AB24 |IOSTANDARD = LVCMOS25;  # "FMC2-LA24_P"
//NET AFE_REC[2]            LOC = V16  |IOSTANDARD = LVCMOS25;  # "FMC2-LA15_N"
//NET AFE_PICKUP[3]         LOC = AB26 |IOSTANDARD = LVCMOS25;  # "FMC2-LA24_N"
//NET AFE_CAL[3]            LOC = AC26 |IOSTANDARD = LVCMOS25;  # "FMC2-LA28_N"
//NET AFE_REC[3]            LOC = AC25 |IOSTANDARD = LVCMOS25;  # "FMC2-LA28_P"
#NET AFE_HI_GAIN           LOC = T22  |IOSTANDARD = LVCMOS25;  # "FMC2-LA30_P"
NET FPGA_RESET_BT	        LOC = V14 |IOSTANDARD = LVCMOS25;

# following are for digital attenuator control signls for AFE V3
NET att_data				  LOC = AC5 | IOSTANDARD = LVCMOS25;
NET att_clk					  LOC = Y11 | IOSTANDARD = LVCMOS25;	
NET att_le	              LOC = W20 | IOSTANDARD = LVCMOS25;	

#NET SDA					  LOC = AC5 | IOSTANDARD = LVCMOS25;
#NET SCL					  LOC = Y11 | IOSTANDARD = LVCMOS25;	


NET AFE_VGA_GAIN[0]					  LOC = Y17 | IOSTANDARD = LVCMOS25;	
NET AFE_VGA_GAIN[1]					  LOC = U24 | IOSTANDARD = LVCMOS25;
NET AFE_VGA_GAIN[2]					  LOC = R26 | IOSTANDARD = LVCMOS25;
NET AFE_VGA_GAIN[3]					  LOC = U21 | IOSTANDARD = LVCMOS25;
NET AFE_VGA_GAIN[4]					  LOC = U22 | IOSTANDARD = LVCMOS25;



##########################   FMC2   #####################################

#NET SMA_N      LOC = AF14 | IOSTANDARD = LVCMOS25;  # "FMC2-CLK1-M2C_N"
#NET SMA_P      LOC = AD14 | IOSTANDARD = LVCMOS25;  # "FMC2-CLK1-M2C_P"
##
##  FMC XM105 HEADER 1
##
NET Trig_LED	LOC = Y15 |IOSTANDARD = LVCMOS25;  # "FMC2-LA00-CC_P" PIN0
#NET HEADER1[2]	LOC = Y24  |IOSTANDARD = LVCMOS25;  # "FMC2-LA01-CC_P" PIN4
#NET HEADER1[4]	LOC = Y12  |IOSTANDARD = LVCMOS25;  # "FMC2-LA12_P" 	 pin9
#NET HEADER1[5]	LOC = AA12  |IOSTANDARD = LVCMOS25;  # "FMC2-LA12_N"    PIN11
#NET HEADER1[6]	LOC = AA21  |IOSTANDARD = LVCMOS25;  # "FMC2-LA03_P"    PIN12
#NET HEADER1[7]	LOC = AB21 |IOSTANDARD = LVCMOS25;  # "FMC2-LA13_P"	 PIN13
#NET HEADER1[8]	LOC = AA15 |IOSTANDARD = LVCMOS25;  # "FMC2-LA03_N"    pin14
#NET HEADER1[9]	LOC = AB15 |IOSTANDARD = LVCMOS25;  # "FMC2-LA13_N"	 pin15
#NET HEADER1[10]	LOC = AE25  |IOSTANDARD = LVCMOS25;  # "FMC2-LA14_P"	 pin17
#NET HEADER1[11]	LOC = AE26 |IOSTANDARD = LVCMOS25;  # "FMC2-LA14_N"	 pin19
#NET HEADER1[12]	LOC = Y21  |IOSTANDARD = LVCMOS25;  # "FMC2-LA05_P"    pin20
#NET HEADER1[13]	LOC = AA22 |IOSTANDARD = LVCMOS25;  # "FMC2-LA05_N"	 pin22
#NET HEADER1[14]	LOC = AB22  |IOSTANDARD = LVCMOS25;  # "FMC2-LA16_P"	 pin25
#NET HEADER1[15]	LOC = AC22  |IOSTANDARD = LVCMOS25;  # "FMC2-LA16_N"	 pin27
#NET HEADER1[16]	LOC = W17  |IOSTANDARD = LVCMOS25;  # "FMC2-LA17-CC_P" pin29
#NET HEADER1[17]	LOC = W18  |IOSTANDARD = LVCMOS25;  # "FMC2-LA17-CC_N" pin31
#NET HEADER1[18]	LOC = AA7 |IOSTANDARD = LVCMOS25;  # "FMC2-LA08_P" 	 pin32
#NET HEADER1[19]	LOC = AA6  |IOSTANDARD = LVCMOS25;  # "FMC2-LA18-CC_P" pin33
#NET HEADER1[20]	LOC = AA17 |IOSTANDARD = LVCMOS25;  # "FMC2-LA08_N"	 pin34
#NET HEADER1[21]	LOC = AC23  |IOSTANDARD = LVCMOS25;  # "FMC2-LA18-CC_N" pin35
#NET HEADER1[22]	LOC = T19 |IOSTANDARD = LVCMOS25;  # "FMC2-LA09_P"	 pin36
#NET HEADER1[23]	LOC = T20  |IOSTANDARD = LVCMOS25;  # "FMC2-LA19-P"	 pin37
#NET HEADER1[24]	LOC = V23 |IOSTANDARD = LVCMOS25;  # "FMC2-LA09_N"	 pin38
#NET HEADER1[25]	LOC = W24  |IOSTANDARD = LVCMOS25;  # "FMC2-LA19-N"	 pin39



#Created by Constraints Editor (xc6slx150t-fgg676-3) - 2012/02/10
#NET "gclk0" TNM_NET = gclk0;
#TIMESPEC TS_gclk0 = PERIOD "gclk0" 10 ns HIGH 50%;

#10MHz slow clock constraint, SL, 2016/03/07
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 100 ns HIGH 50%;

#Created by Constraints Editor (xc6slx150t-fgg676-3) - 2012/02/10
NET "DCLK_N" TNM_NET = DCLK_N;
TIMESPEC TS_DCLK_N = PERIOD "DCLK_N" 2 ns HIGH 50%;
NET "DCLK_P" TNM_NET = DCLK_P;
TIMESPEC TS_DCLK_P = PERIOD "DCLK_P" 2 ns HIGH 50%;